.wrapper {
	display: flex;
	flex-direction: row;
	grid-area: input;


	.submitButton {
		background-color: #71C838;
		color: white;
		padding: 10px 17px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		margin-right: 12px;
		cursor: pointer;

		&:hover {
			background-color: #48b400;
		}
	}

	.lastUpdate {
		text-align: left;
		font-size: 12px;
		line-height: 12px;
		color: #999999;
	}
}


@media(max-width: 765px) {


	.wrapper{
		display: grid;
		grid-template-columns: auto;
		align-items: center;
		grid-template-areas:
			"input";
	}
	.submitButton{
		grid-area: input;
	}
	

}