.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 560px;

}


.divider {
	border: none;
	height: 1px;
	background-color: #E5E4E4;
	margin: 24px 0;
}



@media(max-width: 765px) {

	.form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 345px;
	
		}

}